@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 100'), local('MuseoCyrillic-100'),
        url('MuseoCyrillic-100.woff2') format('woff2'),
        url('MuseoCyrillic-100.woff') format('woff'),
        url('MuseoCyrillic-100.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 700'), local('MuseoCyrillic-700'),
        url('MuseoCyrillic-700.woff2') format('woff2'),
        url('MuseoCyrillic-700.woff') format('woff'),
        url('MuseoCyrillic-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 900'), local('MuseoCyrillic-900'),
        url('MuseoCyrillic-900.woff2') format('woff2'),
        url('MuseoCyrillic-900.woff') format('woff'),
        url('MuseoCyrillic-900.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 100 Italic'), local('MuseoCyrillic-100Italic'),
        url('MuseoCyrillic-100Italic.woff2') format('woff2'),
        url('MuseoCyrillic-100Italic.woff') format('woff'),
        url('MuseoCyrillic-100Italic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 900 Italic'), local('MuseoCyrillic-900Italic'),
        url('MuseoCyrillic-900Italic.woff2') format('woff2'),
        url('MuseoCyrillic-900Italic.woff') format('woff'),
        url('MuseoCyrillic-900Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 500 Italic'), local('MuseoCyrillic-500Italic'),
        url('MuseoCyrillic-500Italic.woff2') format('woff2'),
        url('MuseoCyrillic-500Italic.woff') format('woff'),
        url('MuseoCyrillic-500Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 300 Italic'), local('MuseoCyrillic-300Italic'),
        url('MuseoCyrillic-300Italic.woff2') format('woff2'),
        url('MuseoCyrillic-300Italic.woff') format('woff'),
        url('MuseoCyrillic-300Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 700 Italic'), local('MuseoCyrillic-700Italic'),
        url('MuseoCyrillic-700Italic.woff2') format('woff2'),
        url('MuseoCyrillic-700Italic.woff') format('woff'),
        url('MuseoCyrillic-700Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 300'), local('MuseoCyrillic-300'),
        url('MuseoCyrillic-300.woff2') format('woff2'),
        url('MuseoCyrillic-300.woff') format('woff'),
        url('MuseoCyrillic-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Cyrillic';
    src: local('Museo Cyrillic 500'), local('MuseoCyrillic-500'),
        url('MuseoCyrillic-500.woff2') format('woff2'),
        url('MuseoCyrillic-500.woff') format('woff'),
        url('MuseoCyrillic-500.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

